* {
    border: solid #b4befe;
    border-radius: 2;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    margin: 25px 25px;
    padding: 25px 25px;
    opacity: 0.95;
    background-color: #11111b;
    transition-property: background-color;
    transition-duration: 0.10s;
}

window#waybar.hidden {
    opacity: 0.56;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 4px;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button.active {
    background-color: #1e1e2e;
    color: #74c7ec;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #74c7ec;
}

#workspaces button.urgent {
    background-color: #eba0ac;
}

#custom-notification {
    background-color: #1e1e2e;
    color: #f5e0dc;
    font-family: "JetBrainsMono Nerd Font";
}

#memory,
#cpu,
#user,
#custom-power,
#custom-notification,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#mode, 
#swaync,
#tray {
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;
    background-color: #1e1e2e;
    color: #222630;
}

#custom-power {
    margin-right: 6px;
}

#custom-logo {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 8px 0px 0px 8px;
    color: #a6e3a1;
}

#memory {
    background: #1e1e2e;
    color: #fab387;
}

#cpu {
    background: #1e1e2e;
    color: #89dceb;
}

#user {
    background: #1e1e2e;
    color: #a6e3a1;
}

#battery {
    background-color: #1e1e2e;
    color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #a6e3a1;
    background: #1e1e2e;
}

#battery.charging {
    background-color: #1e1e2e;
    /* background-color: #a7c080; */
    color: #a6e3a1;
}

#backlight {
    background: #1e1e2e;
    color: #fab387;
}

#wireplumber {
    background: #1e1e2e;
    color: #f9e2af;
}

#network {
    background-color: #1e1e2e;
    color: #89b4fa;
    padding-right: 17px;
}

#clock {
    font-family: JetBrainsMono Nerd Font;
    background-color: #1e1e2e;
    color: #b4befe;
}

#mode {
    font-family: JetBrainsMono Nerd Font;
    background-color: #1e1e2e;
    box-shadow: inset 0 -3px transparent;
    padding: 5px 17px;
    margin: 5px 2px;
    border-radius: 3px;
    color: #f5c2e7;
}

#custom-power {
    background-color: #1e1e2e;
    color: #bac2de;
}


tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #1e1e2e;
}

tooltip label {
    padding: 5px;
    background-color: #1d212b;
}

#custom-power {
    background-color: #1e1e2e;
    color: #bac2de;
}


tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #1e1e2e;
}

tooltip label {
    padding: 5px;
    background-color: #1d212b;
}
